/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Supérieur à celui de la page principale */
}

/* Backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 1040; /* Inférieur à celui du modal mais supérieur à celui de la page principale */
}
/* Styles pour les messages d'erreur */
.invalid-feedback {
  display: block;
  color: red;
}


